

package ${classMeta.getBeanImportPackage()};

#foreach($field in $!classMeta.getBeanImportsPackage())
   
import   $!{field};
#end

public class ${classMeta.getBeanName()} {

  
#foreach($field in $!classMeta.columResult)
   
private   $!{field.columnClassName}   $!{field.columnName};
#end
   

}