

package ${classMeta.getBeanImportPackage()};

#foreach($field in $!{classMeta.getBeanImportsPackage()})
   
import   $!{field};
#end

public class ${classMeta.getBeanName()} {

  
#foreach($field in $!{classMeta.columResult})
private   $!{field.getColumnClass()}   $!{field.getFieldName()};
#end
#foreach($field in $!{classMeta.columResult})
public $!{field.getColumnClass()}   get$!{field.getMethodName()}(){
       return this.$!{field.columnName};
}
public  void  set$!{field.getMethodName()}($!{field.getColumnClass()} $!{field.getFieldName()}){
       this.$!{field.columnName} = $!{field.columnName};
}
#end  

}