package ${sqlMeta.getMapperImportPackage()};

#foreach($field in $!sqlMeta.getMapperImportsPackage())
import   $!{field};
#end



public interface ${sqlMeta.getDaoName()} {

  
    #foreach($field in $!sqlMeta.methodes)
     public   $!{field.result.resultStr} $!{field.methodName}( $!{field.paramter.paras()} );
    #end

}